In [1]:
%reload_ext sql

/opt/conda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
!echo 'redspot' | sudo -S service postgresql restart

[sudo] password for jovyan: Restarting PostgreSQL 9.5 database server: main.

In [5]:
!createdb -U dbuser income4

In [6]:
%sql postgresql://dbuser@localhost:5432/income4

'Connected: dbuser@income4'

In [8]:
!wget -i lin_urls.txt

--2016-12-05 23:55:18--  https://github.com/abhinav-91/DataManagement/raw/master/income06.zip
Resolving github.com (github.com)... 192.30.253.112, 192.30.253.113
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income06.zip [following]
--2016-12-05 23:55:18--  https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income06.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12956277 (12M) [application/octet-stream]
Saving to: ‘income06.zip’

income06.zip        100%[=====================>]  12.36M  80.0MB/s   in 0.2s

2016-12-05 23:55:18 (80.0 MB/s) - ‘income06.zip’ saved [12956277/12956277]

--2016-12-05 23:55:18--  https://github.com/abhinav-91/DataManagement/raw/master/income07.zip
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income07.zip [following]
--2016-12-05 23:55:18--  https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income07.zip
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21968679 (21M) [application/octet-stream]
Saving to: ‘income07.zip’

income07.zip        100%[=====================>]  20.95M  86.0MB/s   in 0.2s

2016-12-05 23:55:19 (86.0 MB/s) - ‘income07.zip’ saved [21968679/21968679]

--2016-12-05 23:55:19--  https://github.com/abhinav-91/DataManagement/raw/master/income08.zip
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income08.zip [following]
--2016-12-05 23:55:19--  https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income08.zip
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17908767 (17M) [application/octet-stream]
Saving to: ‘income08.zip’

income08.zip        100%[=====================>]  17.08M  82.6MB/s   in 0.2s

2016-12-05 23:55:19 (82.6 MB/s) - ‘income08.zip’ saved [17908767/17908767]

--2016-12-05 23:55:19--  https://github.com/abhinav-91/DataManagement/raw/master/income09.zip
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income09.zip [following]
--2016-12-05 23:55:19--  https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income09.zip
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18375324 (18M) [application/octet-stream]
Saving to: ‘income09.zip’

income09.zip        100%[=====================>]  17.52M  84.5MB/s   in 0.2s

2016-12-05 23:55:20 (84.5 MB/s) - ‘income09.zip’ saved [18375324/18375324]

--2016-12-05 23:55:20--  https://github.com/abhinav-91/DataManagement/raw/master/income10.zip
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income10.zip [following]
--2016-12-05 23:55:20--  https://raw.githubusercontent.com/abhinav-91/DataManagement/master/income10.zip
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18496416 (18M) [application/octet-stream]
Saving to: ‘income10.zip’

income10.zip        100%[=====================>]  17.64M  88.3MB/s   in 0.2s

2016-12-05 23:55:20 (88.3 MB/s) - ‘income10.zip’ saved [18496416/18496416]

FINISHED --2016-12-05 23:55:20--
Total wall clock time: 2.1s
Downloaded: 5 files, 86M in 1.0s (84.5 MB/s)

In [9]:
!unzip '*.zip'

Archive:  income06.zip
  inflating: zipcode06.csv

Archive:  income07.zip
  inflating: zipcode07.csv

Archive:  income08.zip
  inflating: 08zpall.csv

Archive:  income09.zip
  inflating: 09zpallagi.csv

Archive:  income10.zip
  inflating: 10zpallagi.csv

5 archives were successfully processed.

## Choosing columns that contain valuable data
I have decided to keep the following columns:

STATE: The State associated with the ZIP code

ZIPCODE: 5digit

Zip code

NUMDEP: Number of dependents

A00100: Adjust gross income

In [10]:
!csvcut -n zipcode06.csv

  1: state
  2: agi_class
  3: zipcode
  4: n1
  5: n2
  6: n6
  7: a00100
  8: n00200
  9: a00200
 10: n00300
 11: a00300
 12: n00600
 13: a00600
 14: n23900
 15: a23900
 16: n00900
 17: a00900
 18: n02100
 19: a02100
 20: n03150
 21: a03150
 22: n03300
 23: a03300
 24: n04470
 25: agi_04470
 26: a04470
 27: n19700
 28: agi_19700
 29: a19700
 30: n18300
 31: agi_18300
 32: a18300
 33: n09600
 34: a09600
 35: n05800
 36: a05800
 37: n09200
 38: a09200
 39: n59660
 40: a59660
 41: prep

In [11]:
!csvcut -c 1,2,3,7,9 zipcode06.csv > zipincome06.csv

In [12]:
!csvcut -n zipcode07.csv

  1: state
  2: ZIPCODE
  3: agi_class
  4: n1
  5: mars2
  6: prep
  7: n2
  8: numdep
  9: a00100
 10: n00200
 11: a00200
 12: n00300
 13: a00300
 14: n00600
 15: a00600
 16: n00900
 17: a00900
 18: schf
 19: n23900
 20: a23900
 21: n01400
 22: a01400
 23: n01700
 24: a01700
 25: n02300
 26: a02300
 27: n02500
 28: a02500
 29: n03300
 30: a03300
 31: n04470
 32: a04470
 33: n18425
 34: a18425
 35: n18450
 36: a18450
 37: n18500
 38: a18500
 39: n18300
 40: a18300
 41: n19300
 42: a19300
 43: n19700
 44: a19700
 45: n04800
 46: a04800
 47: n07100
 48: a07100
 49: nf5695
 50: af5695
 51: n07220
 52: a07220
 53: n07180
 54: a07180

In [13]:
!csvcut -c 1,2,3,9,11 zipcode07.csv > zipincome07.csv

In [14]:
!csvcut -n 08zpall.csv

  1: state
  2: ZIPCODE
  3: agi_class
  4: n1
  5: mars2
  6: prep
  7: n2
  8: numdep
  9: a00100
 10: a00200
 11: a00300
 12: a00600
 13: a00900
 14: a23900
 15: a01400
 16: a01700
 17: a02300
 18: a02500
 19: a03300
 20: a04470
 21: a18425
 22: a18450
 23: a18500
 24: a18300
 25: a19300
 26: a19700
 27: a04800
 28: a07100
 29: af5695
 30: a07220
 31: a07180
 32: a59660
 33: a59720
 34: a09600
 35: a06500
 36: a10300
 37: a11900gt0
 38: a11900lt0

In [15]:
!csvcut -c 1,2,3,9,11 08zpall.csv > zipincome08.csv

In [16]:
!csvcut -n 09zpallagi.csv

  1: STATEFIPS
  2: STATE
  3: zipcode
  4: agi_stub
  5: N1
  6: MARS2
  7: PREP
  8: N2
  9: NUMDEP
 10: A00100
 11: N00200
 12: A00200
 13: N00300
 14: A00300
 15: N00600
 16: A00600
 17: N00650
 18: A00650
 19: N00900
 20: A00900
 21: SCHF
 22: N01000
 23: A01000
 24: N01400
 25: A01400
 26: N01700
 27: A01700
 28: N02300
 29: A02300
 30: N02500
 31: A02500
 32: N03300
 33: A03300
 34: N04470
 35: A04470
 36: N18425
 37: A18425
 38: N18450
 39: A18450
 40: N18500
 41: A18500
 42: N18300
 43: A18300
 44: N19300
 45: A19300
 46: N19700
 47: A19700
 48: N04800
 49: A04800
 50: N07100
 51: A07100
 52: N07220
 53: A07220
 54: N07180
 55: A07180
 56: N07260
 57: A07260
 58: N59660
 59: A59660
 60: N59720
 61: A59720
 62: N11070
 63: A11070
 64: N09600
 65: A09600
 66: N06500
 67: A06500
 68: N10300
 69: A10300
 70: N11901
 71: A11901
 72: N11902
 73: A11902

In [17]:
!csvcut -c 2,3,4,10,12 09zpallagi.csv > zipincome09.csv

In [18]:
!csvcut -n 10zpallagi.csv

  1: STATEFIPS
  2: STATE
  3: zipcode
  4: agi_stub
  5: N1
  6: MARS2
  7: PREP
  8: N2
  9: NUMDEP
 10: A00100
 11: N00200
 12: A00200
 13: N00300
 14: A00300
 15: N00600
 16: A00600
 17: N00650
 18: A00650
 19: N00900
 20: A00900
 21: SCHF
 22: N01000
 23: A01000
 24: N01400
 25: A01400
 26: N01700
 27: A01700
 28: N02300
 29: A02300
 30: N02500
 31: A02500
 32: N03300
 33: A03300
 34: N04470
 35: A04470
 36: N18425
 37: A18425
 38: N18450
 39: A18450
 40: N18500
 41: A18500
 42: N18300
 43: A18300
 44: N19300
 45: A19300
 46: N19700
 47: A19700
 48: N04800
 49: A04800
 50: N07100
 51: A07100
 52: N07220
 53: A07220
 54: N07180
 55: A07180
 56: N07260
 57: A07260
 58: N59660
 59: A59660
 60: N59720
 61: A59720
 62: N11070
 63: A11070
 64: N09600
 65: A09600
 66: N06500
 67: A06500
 68: N10300
 69: A10300
 70: N11901
 71: A11901
 72: N11902
 73: A11902

In [19]:
!csvcut -c 2,3,4,10,12 10zpallagi.csv > zipincome10.csv

In [20]:
!csvstat zipincome10.csv

  1. STATE
	<class 'str'>
	Nulls: False
	Unique values: 51
	5 most frequent values:
		TX:	9744
		NY:	9288
		CA:	8922
		PA:	8220
		IL:	7380
	Max length: 2
  2. zipcode
	<class 'str'>
	Nulls: False
	Unique values: 27787
	5 most frequent values:
		00000:	306
		33760:	6
		61028:	6
		60629:	6
		85708:	6
	Max length: 5
  3. agi_stub
	<class 'int'>
	Nulls: False
	Min: 1
	Max: 6
	Sum: 584577
	Mean: 3.5
	Median: 3.5
	Standard Deviation: 1.707825127659933
	Unique values: 6
	5 most frequent values:
		6:	27837
		5:	27837
		1:	27837
		4:	27837
		2:	27837
  4. A00100
	<class 'float'>
	Nulls: False
	Min: 0.0
	Max: 333873277.0
	Sum: 16069192552.126
	Mean: 96210.03551703368
	Median: 13141.5
	Standard Deviation: 1938347.0504983012
	Unique values: 73258
	5 most frequent values:
		0.0001:	21260
		0.0:	1432
		2995.0:	20
		4416.0:	18
		3586.0:	17
  5. A00200
	<class 'float'>
	Nulls: False
	Min: 0.0
	Max: 190429362.0
	Sum: 11356585042.2569
	Mean: 67994.54588172157
	Median: 8914.0
	Standard Deviation: 1311928.7123288058
	Unique values: 64860
	5 most frequent values:
		0.0001:	22569
		0.0:	1432
		2313.0:	22
		2878.0:	22
		3227.0:	22

Row count: 167022

In [21]:
%%sql
DROP TABLE IF EXISTS incomezip06;
CREATE TABLE incomezip06 (
STATE CHAR (8),
ZIP CHAR(10),
AGI_STUB INT,
A00100 NUMERIC,
A00200 VARCHAR(32)
)

Done.
Done.

[]

In [22]:
!pwd

/home/jovyan/work

In [24]:
%%sql
COPY incomezip06 FROM '/home/jovyan/work/zipincome06.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

269603 rows affected.

[]

In [25]:
%%sql
ALTER TABLE incomezip06
ADD year INT NOT NULL
CONSTRAINT year DEFAULT 2006

Done.

[]

In [26]:
%%sql
DROP TABLE IF EXISTS incomezip07;
CREATE TABLE incomezip07 (
STATE CHAR (8),
ZIP CHAR(10),
AGI_STUB INT,
A00100 NUMERIC,
A00200 VARCHAR(32)
)

Done.
Done.

[]

In [27]:
%%sql
COPY incomezip07 FROM '/home/jovyan/work/zipincome07.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

232681 rows affected.

[]

In [28]:
%%sql
ALTER TABLE incomezip07
ADD year INT NOT NULL
CONSTRAINT year DEFAULT 2007

Done.

[]

In [30]:
%%sql
DROP TABLE IF EXISTS incomezip08;
CREATE TABLE incomezip08 (
STATE CHAR (8),
ZIP CHAR(10),
AGI_STUB INT,
A00100 NUMERIC,
A00200 VARCHAR(32)
)

Done.
Done.

[]

In [31]:
%%sql
COPY incomezip08 FROM '/home/jovyan/work/zipincome08.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

191284 rows affected.

[]

In [32]:
%%sql
ALTER TABLE incomezip08
ADD year INT NOT NULL
CONSTRAINT year DEFAULT 2008

Done.

[]

In [33]:
%%sql
DROP TABLE IF EXISTS incomezip09;
CREATE TABLE incomezip09 (
STATE CHAR (8),
ZIP CHAR(10),
AGI_STUB INT,
A00100 NUMERIC,
A00200 VARCHAR(32)
)

Done.
Done.

[]

In [34]:
%%sql
COPY incomezip09 FROM '/home/jovyan/work/zipincome09.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

167178 rows affected.

[]

In [35]:
%%sql
ALTER TABLE incomezip09
ADD year INT NOT NULL
CONSTRAINT year DEFAULT 2009

Done.

[]

In [36]:
%%sql
DROP TABLE IF EXISTS incomezip10;
CREATE TABLE incomezip10 (
STATE CHAR (8),
ZIP CHAR(10),
AGI_STUB INT,
A00100 NUMERIC,
A00200 VARCHAR(32)
)

Done.
Done.

[]

In [37]:
%%sql
COPY incomezip10 FROM '/home/jovyan/work/zipincome10.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

167022 rows affected.

[]

In [38]:
%%sql
ALTER TABLE incomezip10
ADD year INT NOT NULL
CONSTRAINT year DEFAULT 2010

Done.

[]

In [39]:
%%sql
DROP TABLE IF EXISTS incomezip;
SELECT *
    INTO incomezip
    FROM (
    SELECT * FROM incomezip07
    UNION ALL
    SELECT * FROM incomezip08
    UNION ALL
    SELECT * FROM incomezip09
    UNION ALL
    SELECT * FROM incomezip10
    ) AS incomebyzip

Done.
758165 rows affected.

[]

In [40]:
%%sql
SELECT * FROM incomezip
ORDER BY year DESC
LIMIT 5

5 rows affected.

[('AL      ', '00000     ', 2, Decimal('17382840.000'), '14163028.000', 2010),
 ('AL      ', '00000     ', 3, Decimal('15383011.000'), '12072207.000', 2010),
 ('AL      ', '00000     ', 1, Decimal('11813654.000'), '9033252.0000', 2010),
 ('AL      ', '00000     ', 5, Decimal('22173063.000'), '16811858.000', 2010),
 ('AL      ', '00000     ', 4, Decimal('13175268.000'), '10270849.000', 2010)]

In [41]:
%%sql
DROP TABLE IF EXISTS year_D;
CREATE TABLE year_D (
year INT
)

Done.
Done.

[]

In [42]:
%%sql
INSERT INTO year_D
SELECT DISTINCT year from incomezip;

4 rows affected.

[]

In [43]:
%%sql
ALTER TABLE year_D
ADD COLUMN year_id SERIAL PRIMARY KEY;

Done.

[]

In [44]:
%%sql
DROP TABLE IF EXISTS location_D;
CREATE TABLE location_D (
state CHAR(8),
zip CHAR(10)
)

Done.
Done.

[]

In [45]:
%%sql
INSERT INTO location_D
SELECT DISTINCT state,zip from incomezip;

41019 rows affected.

[]

In [46]:
%%sql
ALTER TABLE location_D
ADD COLUMN location_id SERIAL PRIMARY KEY;

Done.

[]

In [48]:
%%sql
SELECT * from location_D LIMIT 10;

10 rows affected.

[('AK      ', '00000     ', 1),
 ('AK      ', '99501     ', 2),
 ('AK      ', '99502     ', 3),
 ('AK      ', '99503     ', 4),
 ('AK      ', '99504     ', 5),
 ('AK      ', '99505     ', 6),
 ('AK      ', '99506     ', 7),
 ('AK      ', '99507     ', 8),
 ('AK      ', '99508     ', 9),
 ('AK      ', '99509     ', 10)]

In [49]:
%%sql
DROP TABLE IF EXISTS income_level_D;
CREATE TABLE income_level_D (
level INT
)

Done.
Done.

[]

In [50]:
%%sql
INSERT INTO income_level_D
SELECT DISTINCT agi_stub from incomezip;

8 rows affected.

[]

In [51]:
%%sql
ALTER TABLE income_level_D
ADD COLUMN income_level_id SERIAL PRIMARY KEY;

Done.

[]

In [52]:
%%sql
DROP TABLE IF EXISTS income_fact;
CREATE TABLE income_fact (
    A00100 NUMERIC,
    A00200 VARCHAR(32),
    year_id INT,
    location_id INT,
    income_level_id INT,
    FOREIGN KEY (year_id) REFERENCES year_D(year_id),
    FOREIGN KEY (location_id) REFERENCES location_D(location_id),
    FOREIGN KEY (income_level_id) REFERENCES income_level_D(income_level_id)
)

Done.
Done.

[]

In [53]:
%%sql
INSERT INTO income_fact 
SELECT incomezip.A00100,incomezip.A00200,year_D.year_id,location_D.location_id,income_level_D.income_level_id
FROM incomezip
JOIN
year_D
ON incomezip.year=year_D.year
JOIN
location_D
ON 
incomezip.state=location_D.state
AND incomezip.zip=location_D.zip
JOIN
income_level_D
ON
incomezip.agi_stub=income_level_D.level

758164 rows affected.

[]

In [54]:
%%sql 
select  year from year_D

4 rows affected.

[(2007,), (2010,), (2009,), (2008,)]